@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'SolaimanLipi', Arial, sans-serif !important;
}

.background-image-hero {
    background-image: url("./Assets/image/hero_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
.background-image-allTeachers {
    background-image: url("./Assets/image/pattern1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  .img-bottom{
    clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
}